.nave  a
{
    font-family:  Dyuthi;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    padding: 20px;
    color:purple;
}
#loin
{
   margin-right: 150px;
}
i
{
    margin: 0 20px;
}